{% extends 'base.html' %}
    {% block title %} 
    Password Changed
    {% endblock title%}

    {% block content %}
    <main id="user--page" class="container dp-flex flex-wrap mxw-400 m-auto">
        <article class="p-2 mbt-2 m-auto">
                <a class='bold'> Password Changed</a>
                <br><br>
                <p class="fs-7">
                    Your password has been successfully changed.
                </p>
                <a href="{% url 'dashboard' %}" class="bg-col bdrs-pill f-white as-fs plr-2 fs-7">
                    Back 
                </a>
        </article>
    </main>
    {% endblock content %}