{% extends 'base.html' %}
    {% block title %} 
        Change your password
    {% endblock title%}

    {% block content %}
    <main id="user--page" class="container dp-flex flex-wrap mxw-400 m-auto">
        <article class="m-auto p-2 mbt-2">
            <form method="POST">
                {% csrf_token %}
                <a class='bold'> Change your Password </a>
                <br><br>
                {{ form.as_p }}
                <button type="submit" class="bg-col bdrs-pill f-white as-fs plr-2">
                    Done
                </button>
            </form>
        </article>
    </main>
    {% endblock content %}